
.sidebar{
    padding-left: 100px;
    margin-top: 40px;
    width: 300px;
}

.sidebar-ul li{
    cursor: pointer;
    padding: 15px;
    margin-bottom: 5px;
    font-size: 24px;
    text-align: center;
   border: 2px solid rgb(7, 70, 158);
}
.sidebar-ul li:hover{
    background-color: transparent;
    color: rgb(7, 70, 158); 
   
    
}